{% extends "layout.html" %}



{# Page variables #}
{% set head_title = "Home page" %}
{% set assets_css = "home_css" %}
{% set assets_js  = "home_js" %}
{% set nav_bar    = True %}
{% set nav_title  = "Home page" %}



{# Head block #}
{% block head %}

{% endblock %}



{# Body content #}
{% block body %}

<div class="container" id="home-page-wrapper">

    <h2 align="center">Here's your awesome kickstarter app!</h2>

    <p align="center">
        Get started by modifying the files.
    </p>

</div>

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
